<form>
    <div class="row">
        <div class="col-12 fw-bold text-white">
            <h3>RESERVA CON NOSOTROS!!!</h3>
            <h5>Los mejores precios del mercado</h5>
            <h5>Desde $999.999</h5>
            <hr>
        </div>
    </div>
    <div class="row  text-white fw-bold">
        <div class="col-12 col-md-6">
            <label class="form-label">Fecha de entrada: </label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar3"></i></span>
                <input type="date" class="form-control" placeholder="Username">
              </div>
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label">Fecha de salida: </label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar3"></i></span>
                <input type="date" class="form-control" placeholder="Username" >
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect">
                      <option selected></option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    <label for="floatingSelect">Niños</label>
                  </div>
              </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect">
                      <option selected></option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    <label for="floatingSelect">Adultos</label>
                  </div>
              </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Ver cuartos</button>
</form>
