.banner{
    background-image: url("../../assets/img/image.avif");
    background-position: top center;
    background-size: cover;
    padding: 5% 40% 35% 10%;
    position: relative;
    z-index: 1;
}
.banner::after{
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}